body, h1, h2 {}

.container {
  max-width: 1200px;
  min-width: 768px; 
  margin: 0 auto;
  border: 2px dashed #ccc;
}

.main-header .container {
  padding-left: 6%;
  padding-right: 6%;
}

.navigation-list {
  list-style: none;
  width: auto;
}

.navigation-list li {
  width: 20%;
  
  font-size: 14px;
}

.navigation-list li:nth-child(1),
.navigation-list li:nth-child(2) {
  float: left;
}

.navigation-list li:nth-last-child(1),
.navigation-list li:nth-last-child(2) {
  float: right;
}
