body, h1, h2, h3, ul, li, p {
  padding: 0;
  margin: 0;
}

/*
 * Общие стили
 */

body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
}

h1, h2, h3, p, a {
  text-transform: uppercase;
}

.main-header .container,
.index-content .container {
  background-color: #fff;
}

/*
 * Стилизация шапки и навигации по сайту
 */

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 768px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  max-height: 55px;
  padding-left: 6%;
  padding-right: 6%;
  list-style: none;
}

.navigation-list .logo {
  position: relative;
  width: 138px;
  height: 70px;
}

.navigation-list .logo-position {
  position: absolute;  
  z-index: 1;
}

.navigation-item {
  width: 22.72727272727273%;
  padding-top: 17px;
  text-align: left;
}

.navigation-item:nth-last-child(1),
.navigation-item:nth-last-child(2) {
  text-align: right;
}

.navigation-item a {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
  color: #000;
}

/*
 * Стилизация приветствия и вступительных фоновых картинок для главного контента (index-content)
 */

.index-content .intro {
  position: relative;
  margin-bottom: 55px;
}

.intro .welcom {
  position: absolute;
  z-index: 1;
  top: 77px;
  width: 100%;
  text-align: center;
}

/*
 * Стилизация вступления для внутренего контента (content)
 */

.content .intro {
  padding-left: 18.5%;
  padding-right: 18.5%;
  text-align: center;
}

.content .intro-title {
  margin-bottom: 35px;
  padding-left: 9%;
  padding-right: 9%;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
}

.content .intro-description {
  margin-bottom: 59px;
  font-size: 14px; 
  line-height: 14px;
}

/*
 * Стилизация строк для внутренего контента (reason-row, features-row) [+СЕТКА]
 */

.reason-list,
.features-list {
  display: flex;
  width: 100%;
  list-style: none;
}

.reason-item   { max-height: 146px; }
.reason-photo  { max-height: 256px; }
.features-item { max-height: 190px; }

.reason-item   { width: 21.7777%; }
.reason-photo  { width: 66.6666%; }
.features-item { width: 33.3333%; }

.reason-item {
  padding-left: 5.8%;
  padding-right: 5.8%;
  padding-top: 44px;
  padding-bottom: 66px;
  text-align: center;
  background-color: #eeeeee;
}

.features-item {
  padding-left: 5.8%;
  padding-right: 5.8%;
  padding-top: 55px;
  padding-bottom: 85px;
  text-align: center;
}

.reason-item.active-item {
  padding-top: 49px;
  padding-bottom: 61px;
  background-color: #81b3d2;
  color: #fff;
}

.reason-title {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 21px;
  line-height: 27px;
}

.features-title {
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 21px;
  line-height: 27px;
}

.reason-number {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 14px;
}

.reason-item.active-item .reason-number {
  padding-top: 22px;
  padding-bottom: 23px;
}

.reason-description {
  font-size: 14px;
  line-height: 18px;
}
.features-description {
  font-size: 14px;
  line-height: 21px;
}

/*
 * Стилизация обертки .search и внутреней формы.
 */

.search {
  padding-top: 53px;
}

.search-question {
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.search-description {
  margin-bottom: 46px;
  padding-left: 28%;
  padding-right: 28%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.search-title {
  margin: 0 auto;
  width: 568px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #766357;
  color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.search-container {
  height: 593px;
  background-image: url(../img/map.jpg);
}

.search-form {
  margin: 0 auto;
  display: flex;  
  flex-wrap: wrap;
  width: 458px;
  height: 288px;
  padding-top: 62px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 45px;
  background-color: #fff;
}

.search-date,
.search-adults,
.search-children { 
  width: 100%;
  margin-bottom: 45px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

search-date input {
  background-color: #f2f2f2;
}


.search-children,
.search-adults { 
  width: 50%; }

.search-button {
  width: 457px;
  height: 60px;
  border: none;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
}

/*
 * Стилизация Подвала сайта
 */


.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 120px;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color: rgba(255,255,255,.9);
}

.foo-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

/*
 * INPUT
 */

input {
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2;  
}

input[type="text"] {
  width: 346px;
  height: 38px;
}

input[type="number"] {
  width: 38px;
  height: 38px;
  -moz-appearance:textfield;
  text-align: center;
  padding: 0;
}

.for-plus,
.for-minus {  
  width: 38px;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
}