body, h1, h2, h3, ul, li, p {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Общие стили
 */

body {
  font-size: 14px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

/*
 * Стилизация шапки и навигации по сайту
 */

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}

.main-header .container { position: relative; }

.main-header .logo {
  position: absolute;
  left: 44.25%;
  top: 0;
  z-index: 1;
  width: 11.5%;
}

.navigation-list {
  width: auto;
  height: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 6%;
  padding-right: 6%;
  list-style: none;
}

.navigation-item {
  width: 22.72727272727273%;
  text-align: left;
}

.navigation-item:nth-child(1),
.navigation-item:nth-child(2) {
  float: left;
}

.navigation-item:nth-last-child(1),
.navigation-item:nth-last-child(2) {
  float: right;
  text-align: right;
}

.navigation-item a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

/*
 * Стилизация приветствия и вступительных фоновых картинок для главного контента (index-content)
 */

.index-content .intro {
  position: relative;
  margin-bottom: 65px;
}

.intro .welcom {
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  top: 77px;
}

/*
 * Стилизация вступления для внутренего контента (content)
 */

.content .intro {
  padding-left: 23.5%;
  padding-right: 23.5%;
  text-align: center;
}

.content .intro-title {
  margin-bottom: 35px;
  font-size: 21px;
  font-weight: bold;
}

.content .intro-description {
  margin-bottom: 55px;
  font-size: 14px;
  text-transform: uppercase;
}

/*
 * Стилизация строк для внутренего контента (reason-row, features-row) [+СЕТКА]
 */

.reason-list,
.features-list {
  display: flex;
  width: 100%;
  list-style: none;
}

.reason-item   { max-height: 146px; }
.reason-photo  { max-height: 256px; }
.features-item { max-height: 190px; }

.reason-item   { width: 25.8%; }
.reason-photo  { width: 66.6%; }
.features-item { width: 33.3%; }

.reason-item {
  padding-left: 3.75%;
  padding-right: 3.75%;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}

.features-item {
  padding-left: 3.75%;
  padding-right: 3.75%;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

.reason-number {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}

.reason-title {
  padding-left: 26%;
  padding-right: 26%;
}

.features-title {
  padding-top: 21px;
  padding-bottom: 21px;
}

.reason-description {
  text-transform: uppercase;
}
.features-description {
  line-height: 21px;
  text-transform: uppercase;
}

.reason-item.active-item {
  background-color: #81b3d2;
  color: #fff;
}

.reason-item {
  background-color: #eeeeee;
}

/*
 * Стилизация обертки .search и внутреней формы.
 */

.search {
  width: 47.33333333333333%;
  margin: 0 auto;
  padding-top: 55px;
}

.search-question {
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.search-description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 46px;
}

.search-title {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #766357;
  color: #fff;
  text-align: center;
  font-size: 21px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
}

.search-date,
.search-adults,
.search-children { 
  width: 100%;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

search-date input {
  background-color: #f2f2f2;
}


.search-children,
.search-adults { width: 50%; }

/*
 * Стилизация Подвала сайта
 */
/*
.main-footer {
  position: relative;
  z-index: 0;
}
*/

/*
.main-footer .container::after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  content: "dsa ";
  display: block;
  width: 100%;
  background-image: url(../img/map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto
}
*/

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.foo-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-by {
  height: 100%;
  vertical-align: middle;
}
